<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{descricao}}" />
    <title>{{title}}</title>
</head>
<body>
    <main>
        <section class="details">
            <img src="{{image}}" alt="" class="image">
            <div class="info">
                <h1 class="name">{{name}}</h1>
                <h2 class="alias">{{aliases}}</h2>
                <p class="desc">{{description}}</p>
            </div>
        </section>
        <section class="users">
            <h2>Usuários</h2>
            <div class="user-list">
                {{users}}
            </div>
        </section>
    </main>
</body>
</html>